body
{
  text-align: center;
  background-color: #232020;
}

body,html
{
  padding: 0;
  margin: 0;
}

h1
{
  background-color: #3DBD9E;
  margin: 0 0 0 0;
  width:100%;
  font-size: 300%;
  height: 5vh;
}

#temperatureContainer
{
  background-color: #3DBD9E;
    margin-top: 25%;
    margin-left: auto;
    height: 15vh;
    margin-right: auto;
    width: 90%;
    -webkit-box-shadow: 7px 10px 19px 6px rgba(31,96,80,0.77);
  -moz-box-shadow: 7px 10px 19px 6px rgba(31,96,80,0.77);
  box-shadow: 7px 10px 19px 6px rgba(31,96,80,0.77);

}

#temperatureContainer p
{
  padding-top: 5%;
font-size: 100px;
color: white;
}

.temperatuur, .luchtvochtigheid
{
  background-color: #3DBD9E;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 12vh;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  -webkit-box-shadow: 7px 10px 19px 6px rgba(31,96,80,0.77);
-moz-box-shadow: 7px 10px 19px 6px rgba(31,96,80,0.77);
box-shadow: 7px 10px 19px 6px rgba(31,96,80,0.77);
}

.temperatuur p, .luchtvochtigheid p
{
  font-size: 60px;
}

 i.fa
{
  font-size: 80px;
  padding: 20%;
}

h2
{
  font-size: 400%;
  margin: 0 0 0 0;
}

p
{
  font-size: 300%;
    color: white;
}

.on, .off
{
  width: 30%;
}

.on
{
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.off
{
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

button
{
  min-width: 20%;
  min-height: 20%;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 300%;
  margin: 4px 2px;
}

.selected{
    background-color: #3DBD9E;
}

.deselected{
    background-color: #C4C4C4;
}

.roundButton
{
  border-radius: 50%;
}

.navbar{
 position: fixed;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 10vh;
 margin: 0;
 padding: 0;
 background-color: #3DBD9E;
}

.navbar li
{
  padding-top: 5%;
}

.navbar li:hover
{
  cursor: pointer;
  background-color: #1f6050;
}

.active
{
  background-color: #1f6050;
}

.slaapmodus
{
  margin-bottom: 20em;
}

.navbar-img
{
  width: 15vw;
}

.profile-img-container
{
    width: 100%;
    height: 25vh;
    margin-top: 5vh;
    background-color: #232020;
    opacity: 5;

}

.profile-img-container img
{
  display: block;
  width: 40%;
  margin: auto;
  padding-top: 5%;
  border-radius: 50%;
}
